{% extends 'base.html.twig' %}

{% block title %}Toutes les activités pratiquées{% endblock %}

{% block body %}
<center>
</br></br></br></br>
    <h1>Toutes les activités pratiquées</h1>
</br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Activite</th>
                <th>Enfant</th>
                <th>Duree</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pratiquer in pratiquers %}
            <tr>
                <td>{{ pratiquer.id }}</td>
                <td>{{ pratiquer.date ? pratiquer.date|date('Y-m-d') : '' }}</td>
                <td>{{ pratiquer.activite }}</td>
                <td>{{ pratiquer.enfant}}</td>
                <td>{{ pratiquer.duree ? pratiquer.duree|date('H:i:s') : '' }}</td>
                <td>{{ pratiquer.description }}</td>
                <td>
                    <a href="{{ path('pratiquer_show', {'id': pratiquer.id}) }}">+ de détails</a>
                    ou
                    <a href="{{ path('pratiquer_edit', {'id': pratiquer.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</br></br>
    <a href="{{ path('pratiquer_new') }}">Enregistrer une nouvelle activité</a>
    </center>
{% endblock %}
