{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<center>
    <br/><br/><br/><br/>
    <h1>Création d'un nouvel utilisateur</h1>
    <br/><br/>

 {{ form_start(form) }} 
        {{ form_row(form.prenom) }}
        <br/>
        {{ form_row(form.nom) }}
        <br/>
        {{ form_row(form.email) }}
        <br/>
        {{ form_row(form.password, {
            label: 'Mot de passe'
        }) }}


        <br/><br/><br/>
        <button type="submit" class="btn btn-primary">Valider la création</button>
    {{ form_end(form) }}
    <br/>
    <a href="{{ path('user_index') }}">Retour à l'acceuil</a>
</center>
{% endblock %}
